<mat-card>
  <mat-card-header>Selection</mat-card-header>
  <mat-card-content fxLayout="column" >
    <div fxLayout="row" [formGroup]="dateRangeGroup">
      <mat-form-field>
        <mat-label>Date range</mat-label>
        <mat-select (selectionChange)="rangeChanged($event)" formControlName="rangeOption">
          <mat-option *ngFor="let dateRangeSelection of dateRangeSelectionOptions" [value]="dateRangeSelection">
            {{dateRangeSelection.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Start date</mat-label>
        <input matInput [matDatepicker]="startPicker" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
        <mat-error>{{ getdateRangeGroupErrorMessage('startDate') }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>End date</mat-label>
        <input matInput [matDatepicker]="endPicker" formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
        <mat-error>{{ getdateRangeGroupErrorMessage('endDate') }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <project-tree-select
        [projects]="projects"
        [multipleSelect]="true"
        [readOnly]="false"
        [text]="'All projects'"
        (selectionChanged)="projectSelectionChanged($event)">
      </project-tree-select>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="primary" [disabled]="dateRangeGroup.invalid" (click)="submit()">
      <span>Load</span>
    </button>
  </mat-card-actions>
</mat-card>
