<mat-nav-list>
  <a mat-list-item routerLink="/" (click)="routerLinkClick()">
    <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/time-entry" (click)="routerLinkClick()">
    <mat-icon>access_time</mat-icon> <span class="nav-caption">TimeSheet</span>
  </a>
  <a mat-list-item routerLink="/report" (click)="routerLinkClick()">
    <mat-icon>print</mat-icon> <span class="nav-caption">Report</span>
  </a>
  <a mat-list-item routerLink="/2" (click)="routerLinkClick()">
    <mat-icon>info</mat-icon> <span class="nav-caption">Info</span>
  </a>
</mat-nav-list>
