<mat-form-field class="project-tree">
  <mat-label>{{selectLabel}}</mat-label>
  <mat-select [formControl]="control" [multiple]="multipleSelect" (selectionChange)="selectionChange($event)">
    <mat-select-trigger>
      {{selectTrigger}}
    </mat-select-trigger>
    <div *ngFor="let project of projectTree">
      <mat-option [ngStyle]="itemPadding(project)" [value]="project.id">
        {{project.name}}
      </mat-option>
    </div>
  </mat-select>
  <button *ngIf="this.control.value" matSuffix mat-icon-button type="button" aria-label="Clear"
    (click)="this.control.setValue(null); $event.stopPropagation()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
