<h1 mat-dialog-title>{{params.header}}</h1>
<div mat-dialog-content [formGroup]="formGroup">
  <div fxLayout="column">
    <mat-form-field class="full-width">
      <mat-label>Save as</mat-label>
      <input matInput placeholder="Enter a file name" formControlName="fileName">
      <button mat-button matSuffix mat-icon-button aria-label="Save as" (click)="saveAs()">
        <mat-icon>folder_open</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Enter a title" formControlName="title">
    </mat-form-field>
    <mat-slide-toggle formControlName="openFile" color="primary">Open file after export</mat-slide-toggle>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="export()">Export</button>
</div>
