<h1 mat-dialog-title>{{params.header}}</h1>
<div mat-dialog-content [formGroup]="formGroup">
  <app-pdf-common formControlName="pdfCommon"></app-pdf-common>
  <div fxLayout="column">
    <mat-slide-toggle formControlName="billableOnly" color="primary">Only export entries from billable WP's</mat-slide-toggle>
    <mat-tab-group dynamicHeight>
      <mat-tab label="Layout">
        <div class="mat-elevation-z4" fxLayout="column">
          <mat-label>Grouping</mat-label>
          <mat-form-field class ="full-width">
            <mat-select formControlName="layout" (selectionChange)="layoutLinesChanged($event)">
              <div *ngFor="let option of layoutLinesOptions">
                <mat-option [value]="option.value">
                  {{option.label}}
                </mat-option>
              </div>
            </mat-select>
          </mat-form-field>
          <mat-form-field class ="full-width">
            <mat-label>Subtotals</mat-label>
            <mat-select formControlName="subtotal">
              <div *ngFor="let option of subtotalOptions">
                <mat-option [value]="option.value" [disabled]="option.disabled">
                  {{option.label}}
                </mat-option>
              </div>
            </mat-select>
          </mat-form-field>
          <ngContainer *ngIf="showCommentAndActivity" fxLayout="column">
            <mat-slide-toggle formControlName="showActivities" color="primary">Print activities</mat-slide-toggle>
            <mat-slide-toggle formControlName="showComments" color="primary">Print comments</mat-slide-toggle>
          </ngContainer>
        </div>

      </mat-tab>
      <mat-tab label="Title">
        <div class="mat-elevation-z4">
          <mat-form-field class="full-width">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Enter a title" formControlName="title0">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput formControlName="title1">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput formControlName="title2">
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="Approval">
        <div class="mat-elevation-z4">
          <mat-slide-toggle formControlName="includeSignatureTable" color="primary" (change)="includeSignatureTableChanged($event)">
            Include signature table
          </mat-slide-toggle>
          <mat-form-field class="full-width">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="approvalName">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Location" formControlName="approvalLocation">
          </mat-form-field>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="export()" [disabled]="formGroup.invalid">Export</button>
</div>
