<div *ngIf="workPackages.length > 0">
  <table mat-table [dataSource]="workPackages">

    <!-- Due Date Column -->
    <ng-container matColumnDef="dueDate">
      <mat-header-cell *matHeaderCellDef> Due </mat-header-cell>
      <mat-cell *matCellDef="let entry"> {{entry.dueDate.toDate() | date : 'dd.MM.yyyy'}} </mat-cell>
    </ng-container>

    <!-- Type column -->
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
      <mat-cell *matCellDef="let entry"> {{entry.type}} </mat-cell>
    </ng-container>

    <!-- project Column -->
    <ng-container matColumnDef="project">
      <mat-header-cell *matHeaderCellDef> Project </mat-header-cell>
      <mat-cell *matCellDef="let entry"> {{entry.project}} </mat-cell>
    </ng-container>

    <!-- parent Column -->
    <!-- <ng-container matColumnDef="parent">
      <mat-header-cell *matHeaderCellDef> Parent </mat-header-cell>
      <mat-cell *matCellDef="let entry">
        <div *ngIf="entry.parentId">
          #{{entry.parentId}}: {{entry.parentSubject}}
        </div>
      </mat-cell>
    </ng-container> -->

    <!-- WP Column -->
    <ng-container matColumnDef="subject">
      <mat-header-cell *matHeaderCellDef> Work Package </mat-header-cell>
      <mat-cell *matCellDef="let entry"> #{{entry.id}}: {{entry.subject}} </mat-cell>
      <!-- <mat-footer-cell *matFooterCellDef></mat-footer-cell> -->
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <!-- <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row> -->
  </table>
</div>
