<div fxLayout="row" class="dialog-content">
  <h3>Local System</h3>
  <table>
    <tr>
      <td>Hostname:</td>
      <td>{{ hostname }}</td>
    </tr>
    <tr>
      <td>Architecture:</td>
      <td>{{ arch }}</td>
    </tr>
    <tr>
      <td>Hostname:</td>
      <td>{{ hostname }}</td>
    </tr>
    <tr>
      <td>OS:</td>
      <td>{{ platform }} - Release {{ release }}</td>
    </tr>
  </table>
  <h3>Openproject</h3>
  <table>
    <tr>
      <td>Version:</td>
      <td>{{ coreVersion }}</td>
    </tr>
    <tr>
      <td>Instance name:</td>
      <td>{{ instanceName }}</td>
    </tr>
    <tr>
      <td>User name:</td>
      <td>{{ userName }}</td>
    </tr>
    <tr>
      <td>Host:</td>
      <td>{{ host }}</td>
    </tr>
    <tr>
      <td>Api root:</td>
      <td>{{ apiRoot }}</td>
    </tr>
  </table>
</div>