.mat-table {
  width: 100%;
}

.mat-column-dueDate
.mat-column-invoiceDate {
  max-width: 100px;
}

.mat-column-amount {
  max-width: 150px;
}

.mat-cell.mat-column-amount {
  text-align: right;
  justify-content: flex-end;
  padding-right: 15px;
  max-width: 150px;
}

.mat-column-project {
  max-width: 300px;
}
