.mat-table {
  width: 100%;
}

.mat-column-invoiceNumber,
.mat-column-invoiceDate {
  max-width: 100px;
}

.mat-column-amount {
  text-align: right;
  justify-content: flex-end;
  padding-right: 15px;
  max-width: 100px;
}

.mat-column-project {
  max-width: 350px;
}

.mat-column-actions {
  max-width: 40px;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.mat-card-header {
  margin-bottom: 6px;
}

.pr5 {
  padding-right: 5px;
}

.list-table-button {
  max-width: 24px;
  border-style: none;
  background-color: unset;
}

.list-table-button :hover {
  background-color: buttonface;
}