<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="menuButtonClick()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="example-app-name">{{title}}</h1>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <button mat-icon-button (click)="refreshClick()">
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-icon-button (click)="devToolsClick()">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
