<h1 mat-dialog-title>Time entry</h1>
<form [formGroup]="formData">
  <mat-dialog-content fxLayout="column">
    <project-tree-select [projects]="projects" [multipleSelect]="false" [readOnly]="!isCreate" [selection]="selectedProject"></project-tree-select>
    <mat-form-field>
      <mat-label>Work Package</mat-label>
      <mat-select formControlName="workPackage">
        <div *ngFor="let workPackage of allowedWorkPackages">
          <mat-option [value]="workPackage.id">
            {{workPackage.subject}}
          </mat-option>
        </div>
      </mat-select>
    </mat-form-field>
    <!-- <mat-form-field>
      <mat-label>Work Package</mat-label>
      <input matInput required placeholder="Select a workpackage" formControlName="workPackage"/>
    </mat-form-field> -->
    <mat-form-field>
      <mat-label>Activity</mat-label>
      <mat-select formControlName="activity">
        <div *ngFor="let activity of allowedActivities">
          <mat-option [value]="activity.id">
            {{activity.name}}
          </mat-option>
        </div>
      </mat-select>
    </mat-form-field>
    <!-- <mat-form-field>
      <mat-label>Activity</mat-label>
      <input matInput required placeholder="Select an activity" formControlName="activity"/>
      <mat-error>{{ getErrorMessage('activity') }}</mat-error>
    </mat-form-field> -->
    <mat-form-field>
      <mat-label>Comment</mat-label>
      <input matInput placeholder="Enter a comment" formControlName="comment"/>
      <!-- <mat-error>{{ getErrorMessage('activity') }}</mat-error> -->
    </mat-form-field>
    <div fxLayout="row">
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="spentOn" formControlName="spentOn">
        <mat-datepicker-toggle matSuffix [for]="spentOn"></mat-datepicker-toggle>
        <mat-datepicker #spentOn></mat-datepicker>
        <!-- <mat-error>{{ getdateRangeGroupErrorMessage('startDate') }}</mat-error> -->
      </mat-form-field>
      <mat-form-field>
        <mat-select formControlName="startTime" (selectionChange)="startTimeChanged()">
          <div *ngFor="let time of startTimes">
            <mat-option [value]="time">
              {{time.label}}
            </mat-option>
          </div>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select formControlName="endTime">
          <div *ngFor="let time of endTimes">
            <mat-option [value]="time" [disabled]="time.disabled">
              {{time.label}}
            </mat-option>
          </div>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button
      *ngIf="!isCreate"
      mat-button
      [disabled]="formData.invalid"
      (click)="save()">
        Save
    </button>
    <button
      *ngIf="isCreate"
      mat-button
      [disabled]="formData.invalid"
      (click)="create()">
        Create
    </button>
  </mat-dialog-actions>
</form>
