<mat-card>
  <mat-card-header>
    <mat-card-title> Workpackages due </mat-card-title>
    <div class="fill-remaining-space"></div>
    <div>
      <button mat-mini-fab color="primary" (click)="refreshDue()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content class="dialog-content">
    <work-package-list></work-package-list>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title> Open Invoices </mat-card-title>
    <div class="fill-remaining-space"></div>
    <div>
      <button mat-mini-fab color="primary" (click)="refreshInvoices()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content class="dialog-content">
    <open-invoices></open-invoices>
  </mat-card-content>
</mat-card>