<h2 mat-dialog-title>Invoice</h2>
<form [formGroup]="formData">
  <mat-dialog-content class="flex-column bottomten">
    <div class="flex-row flex-layout-gap-10">
      <mat-form-field class="flex-50" floatLabel="always">
        <mat-label>Invoice number</mat-label>
        <span matTextPrefix *ngIf="isCreate">RG-</span>
        <input matInput type="text" placeholder="9999999" formControlName="invoiceNumber">
      </mat-form-field>
      <mat-form-field class="flex-50">
        <mat-label>Net Amount</mat-label>
        <span matTextSuffix>&nbsp;€</span>
        <input matInput type="text" formControlName="amount" class="text-align-right" appNumericTwoDecimals>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width">
        <mat-label>Project</mat-label>
        <input type="text" placeholder="Choose a project" matInput formControlName="project" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayProject">
          <mat-option *ngFor="let project of projects" [value]="project">
            {{project.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="flex-row flex-layout-gap-10">
      <mat-form-field class="flex-50">
        <mat-label>Invoice date</mat-label>
        <input matInput [matDatepicker]="invoicePicker" formControlName="invoiceDate">
        <mat-hint>MM.DD.YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="invoicePicker"></mat-datepicker-toggle>
        <mat-datepicker #invoicePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="flex-50" *ngIf="isCreate">
        <mat-label>Invoiced period</mat-label>
        <mat-date-range-input [rangePicker]="periodPicker">
          <input matStartDate formControlName="periodStart" placeholder="Start date">
          <input matEndDate formControlName="periodEnd" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="periodPicker"></mat-datepicker-toggle>
        <mat-date-range-picker #periodPicker></mat-date-range-picker>
      </mat-form-field>

      <mat-form-field class="flex-50" *ngIf="!isCreate">
        <mat-label>Payment date</mat-label>
        <input matInput [matDatepicker]="paymentPicker" formControlName="paymentDate">
        <mat-hint>MM.DD.YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="paymentPicker"></mat-datepicker-toggle>
        <mat-datepicker #paymentPicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      {{formData.errors}}
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button [disabled]="formData.invalid" (click)="save()" *ngIf="isCreate"> Save </button>
    <button mat-button [disabled]="formData.invalid" (click)="pay()" *ngIf="!isCreate"> Pay </button>
  </mat-dialog-actions>
</form>