<app-floating-button icon="add" label="Add" disabled="false" (onClick)="createEntry()"></app-floating-button>
<app-floating-button icon="picture_as_pdf" label="Pdf" sequence="1" [disabled]="!exportEnabled" (onClick)="export()">
</app-floating-button>

<div class="flex-column">
  <time-entry-selection (load)="load($event)" [projects]="projects">
  </time-entry-selection>
  <mat-card appearance="outlined">
    <mat-card-content class="flex-column">
      <time-entry-list [timeEntryList]="timeEntryList" (copy)="copyEntry($event)" (delete)="deleteEntry($event)"
        (edit)="editEntry($event)" (selectionChanged)="selectionChanged($event)">
      </time-entry-list>
      <mat-paginator [length]="timeEntryList.total" [pageSize]="timeEntryList.pageSize"
        [pageSizeOptions]="[25, 50, 100, 250, 500]" (page)="page($event)"></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>