table {
  width: 100%;
}

.mat-column-select {
  max-width: 20px;
}

.mat-column-matIcon,
.mat-column-billable {
  max-width: 24px;
}

.mat-column-spentOn {
  max-width: 100px;
}

.mat-column-activityTitle {
  max-width: 120px;
}

.mat-column-customField2,
.mat-column-customField3,
.mat-column-nonBillableLabel,
.mat-column-nonBillableValue,
.mat-column-grandTotalLabel,
.mat-column-grandTotalValue,
.mat-column-hours {
  max-width: 75px;
}

.mat-cell,
.mat-header-cell,
.mat-footer-cell {
  padding: 0 5px;
}

.mat-column-actions {
  max-width: 48px;
}

.mat-footer-cell {
  font-weight: bold;
}

.list-table-button {
  max-width: 24px;
  border-style: none;
  background-color: unset;
}

.list-table-button :hover {
  background-color: buttonface;
}
