<div>
  <table mat-table [dataSource]="timeEntries">
    <!-- select column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="toggleChange($event)"
          [(ngModel)]="allSelected"
          [indeterminate]="allIndeterminate">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let entry">
        <mat-checkbox
          (change)="toggleChange($event)"
          [(ngModel)]="entry.selected">
        </mat-checkbox>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <!-- Validation status Column -->
    <ng-container matColumnDef="matIcon">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let entry">
        <div *ngIf="entry.matIcon">
          <mat-icon
            [color]="entry.iconColor"
            [matTooltip]="entry.tooltip"
            matTooltipShowDelay="500"
            matTooltipHideDelay="500">
            {{entry.matIcon}}
          </mat-icon>
        </div>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <!-- Billable Column -->
    <ng-container matColumnDef="billable">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let entry">
        <div *ngIf="entry.billable">
          <mat-icon [color]="entry.billableColor">euro_symbol</mat-icon>
        </div>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="spentOn">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let entry"> {{entry.spentOn | date : 'dd.MM.yyyy'}} </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <!-- Activity Column -->
    <ng-container matColumnDef="activity">
      <mat-header-cell *matHeaderCellDef> Activity </mat-header-cell>
      <mat-cell *matCellDef="let entry"> {{entry.activity}} </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <!-- WP Column -->
    <ng-container matColumnDef="workPackageTitle">
      <mat-header-cell *matHeaderCellDef> Work Package </mat-header-cell>
      <mat-cell *matCellDef="let entry"> #{{entry.workPackageId}}: {{entry.workPackageTitle}} </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <!-- Comment Column -->
    <ng-container matColumnDef="comment">
      <mat-header-cell *matHeaderCellDef> Comment </mat-header-cell>
      <mat-cell *matCellDef="let entry"> {{entry.comment}} </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <!-- Start time Column -->
    <ng-container matColumnDef="customField2">
      <mat-header-cell *matHeaderCellDef> Start </mat-header-cell>
      <mat-cell *matCellDef="let entry"> {{entry.customField2}} </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <!-- Comment Column -->
    <ng-container matColumnDef="customField3">
      <mat-header-cell *matHeaderCellDef> End </mat-header-cell>
      <mat-cell *matCellDef="let entry"> {{entry.customField3}} </mat-cell>
      <mat-footer-cell *matFooterCellDef>Billable</mat-footer-cell>
    </ng-container>

    <!-- Hours Column -->
    <ng-container matColumnDef="hours">
      <mat-header-cell *matHeaderCellDef> Hours </mat-header-cell>
      <mat-cell *matCellDef="let entry"> {{entry.hours | iso8601Timespan }} </mat-cell>
      <mat-footer-cell *matFooterCellDef> {{totalBillable}} </mat-footer-cell>
    </ng-container>

    <!-- Actions column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button class="list-table-button" (click)="toggleSelect()">
          <mat-icon>settings</mat-icon>
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let entry">
        <button class="list-table-button" (click)="editEntry(entry.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button class="list-table-button" (click)="deleteEntry(entry.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="nonBillableLabel">
      <mat-footer-cell *matFooterCellDef>non-billable</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="nonBillableValue">
      <mat-footer-cell *matFooterCellDef>{{totalNonBillable}}</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="grandTotalLabel">
      <mat-footer-cell *matFooterCellDef>grand total</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="grandTotalValue">
      <mat-footer-cell *matFooterCellDef>{{totalTime}}</mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="nonBillableFooterColumns"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="grandTotalFooterColumns"></mat-footer-row>
  </table>
</div>
